.markdown-body .highlight {
  position: relative;
  padding-top: 38px;
  border-radius: 6px;
  background-color: #21252b;
}
.markdown-body .highlight::before {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 100%;
  height: 38px;
  content: attr(rel);
  padding: 0 80px;
  line-height: 38px;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  text-indent: 15px;
  color: #fff;
}
.markdown-body .highlight::after {
  position: absolute;
  top: 0;
  left: 20px;
  width: 12px;
  height: 12px;
  content: ' ';
  margin-top: 13px;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  border-radius: 50%;
  background: #fc625d;
}
.markdown-body .highlight pre {
  background-color: #2d2d2d !important;
  color: #ccc;
  counter-reset: line-number -1;
}
.markdown-body .highlight pre .line {
  line-height: 20px;
  background-color: #2d2d2d;
  color: #ccc;
  counter-increment: line-number;
}
.markdown-body .highlight pre .line::before {
  display: inline-block;
  width: 30px;
  margin-right: 8px;
  content: counter(line-number);
}
