.section {
  border-bottom: 1px solid #0000001a;
  margin-bottom: 24px;
}
.section:last-child {
  border-bottom: none;
}
.section__title {
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #808080;
}
.section__title a {
  color: #808080;
  text-decoration: none;
}
.section__body {
  padding-bottom: 16px;
}

.short-about__avatar {
  width: 100%;
  height: auth;
}
.short-about__intro {
  margin: 16px 0;
  font-size: 14px;
  color: #bfbfbf;
}
.sns {
  margin-bottom: 0;
}
.sns__link {
  color: #bfbfbf;
}

.friend-links {
  margin: 0;
}
.friend-links__link {
  font-size: 14px;
  color: #bfbfbf;
}
